<form action="/names" method="GET">
  <label for="search">Search Player by Name: </label>
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Enter Player Name"
  />
  <button type="submit">Search</button>
</form>
