<form action="/names" method="GET">
  <label for="search">Search Player by Name: </label>
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Enter Player Name"
  />

  <label for="position">Player Position:</label>
  <select id="position" name="position" required>
    <option value="All">All</option>
    <option value="Goalkeeper">Goalkeeper</option>
    <option value="Defender">Defender</option>
    <option value="Midfielder">Midfielder</option>
    <option value="Forward">Forward</option>
  </select>

  <label for="team">Team Name:</label>
  <select id="team" name="team" required>
    <option value="All">All</option>
    <option value="Arsenal">Arsenal</option>
    <option value="Aston Villa">Aston Villa</option>
    <option value="Brentford">Brentford</option>
    <option value="Brighton & Hove Albion">Brigthon & Hove Albion</option>
    <option value="Bournemouth">Bournemouth</option>
    <option value="Chelsea">Chelsea</option>
    <option value="Crystal Palace">Crystal Palace</option>
    <option value="Everton">Everton</option>
    <option value="Fulham">Fulham</option>
    <option value="Ipswich Town">Ipswich Town</option>
    <option value="Leicester City">Leicester City</option>
    <option value="Liverpool">Liverpool</option>
    <option value="Manchester City">Manchester City</option>
    <option value="Manchester United">Manchester United</option>
    <option value="Newcastle United">Newcastle United</option>
    <option value="Nottingham Forest">Nottingham Forest</option>
    <option value="Southampton">Southampton</option>
    <option value="Tottenham Hotspur">Tottenham Hotspur</option>
    <option value="West Ham United">West Ham United</option>
    <option value="Wolverhampton Wanderers">Wolverhampton Wanderers</option>
  </select>

  <button type="submit">Search</button>
</form>
